.slides {
  .slide {
	width:  100%;
	height: 100vh;

  }
}

.slide-tp {
  //background:                url(../images/paul-gilmore-709205-unsplash.jpg) no-repeat center top / cover;

  display:         flex;
  flex-direction:  column;
  justify-content: center;
  align-items:     center;

  .bg {
	position: absolute;
	top:      0;
	left:     0;
	height:   100%;
	width:    100%;

	overflow: hidden;

	img {
	  width:    auto;
	  height:   100%;

	  position: absolute;
	  top:      0;
	  left:     0;

	  @media (min-width: $breakpoint-desktop) {

		width:    100%;
		height:   auto;

		animation-name:            tp-bg-animation;
		animation-duration:        300s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;

	  }
	}
  }

  .main-title {

	@include tp-effect();

	font-size:           16vw;
	font-weight:         600;

	letter-spacing:      -0.7vw;
	word-spacing:        1vw;
	line-height:         1;




	position:            relative;

	z-index:             10;

	span {
	  //display: block;
	}

  }
  .sub {
	position:                  absolute;
	text-align:                center;

	left:                      0;
	bottom:                    3vw;
	width:                     100%;

	font-size:                 2vw;
	font-weight:               400;
	font-style:                italic;
	color:                     yellow;

	animation-name:            tp-sub;
	animation-duration:        3s;
	animation-delay:           5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:       forwards;
	animation-iteration-count: 1;

	opacity:                   0;

	text-shadow:               2px 2px 2px #090703;
  }

  @keyframes tp-bg-animation {
	from {
	  transform: translateY(0);
	}
	to {
	  transform: translateY(-100%);
	}
  }

  @keyframes tp-sub {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

}