/*!
* CSS for "What is it?"
* Michal Bluma
*
 */
@import '../../vendors/normalize';
@import 'mixins';
@import 'variables';

@import 'reveal';
@import 'reveal-white';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body,
html {
  margin:  0;
  padding: 0;
}

body {
  font-family: $font-main;
}

@import 'slides';